<a href="https://colab.research.google.com/github/john94501/aoa-python/blob/main/Session_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Academy of Alameda Python 2

## Data Structures

In the last session we saw some of the basic types that Python has, integers, real numbers and strings. Python, in common with most modern programming languages, offers more complex data types that can be used without the need to write them from scratch - in the early days of home computing, students had to learn how to build these data structures using simple building blocks.

The first two we will look at are called `tuples` and `lists`. At first, they may appear to be the same thing, but there are some key differences between them.

## Tuples

Tuples are written as lists of values inside parentheses, and they may be assigned to variables just like any of the simpler types we saw in the last session:

In [2]:
my_tuple = (1, 2, 3, 4)
print(my_tuple)

(1, 2, 3, 4)

As you might expect, you can also access individual elements of the tuple, using the `[]` notation we used to access individual characters of a string, or even find out how many elements are in it:

In [ ]:
print(my_tuple[0])

In [ ]:
print(len(my_tuple))

That second example used a **_function_**, `len()` to return the length of the tuple. The `len()` function can also be used with lists, and with strings. We will see more functions later in the course.

Try writing something to print the 2nd and 3rd elements of `my_tuple` in the block below.

In [ ]:
# Hint: Remember how we accessed consecutive characters in a string

You cannot directly add new values to a tuple, but you can combine two tuples to form a new one (the `union` of the two tuples):

In [4]:
my_tuple = (1, 2, 3, 4, 5)
print(my_tuple)
my_tuple += (6,)
print(my_tuple)
# Notce the comma there to make sure Python realizes that this is a tuple and
# not just an expression.

(1, 2, 3, 4, 5)
(1, 2, 3, 4, 5, 6, 7)

Try modifying that block to add more than one element to the tuple.

What you cannot do with a tuple is change the value of any of its elements. This is the main difference between tuples and lists. List elements can be changed.

In [7]:
my_tuple[0] = 0

TypeError: ignored

## Lists

So, let's take a look at lists. As you might expect, they are very similar. Instead of using parentheses, you define lists using square brackets:

In [6]:
my_list = [1, 2, 3, 4]
print(my_list)

[1, 2, 3, 4]

Write the code needed to print the first element of the list, and the length of the list in the code block below.

Adding to a list is same as well:

In [7]:
my_list = [1, 2, 3, 4, 5]
print(my_list)
my_list += [6, ]
print(my_list)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]

But now you can change the values as well:

In [8]:
my_list[0] = 100
print(my_list)

[100, 2, 3, 4, 5, 6]